<% facets = {
  tags: @tags_values,
  formats: @formats_values,
  licenses: @licenses_values,
  catalogues: @catalogues_values,
  categories: @categories_values
} %>

<div class="filter-box">
  <% if @selected_filters.present? %>
    <% @selected_filters.each do |obj| %>
      <% obj.delete("") %>
      <% obj.each do |filter| %>
        <div class="filter-item">
          <% facets.each do |facet_name, facet_values| %>
            <% facet_values.each do |fv| %>
              <% if fv.any? { |x| x.include?(filter) } %>
                <%= filter %>
                <% current_value = params["#{facet_name}_value"] || "" %>
                <% new_value = current_value.split(",").reject { |v| v == filter }.join(",") %>
                <%= link_to "x", url_for(request.parameters.merge("#{facet_name}_value": new_value.presence)), rel: "nofollow" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
